:root {
  --fondo: white;
  --fondoMenu: rgb(145, 189, 189);
  --fondoGris: gray;
  --opinion: rgb(198, 194, 194);

  --letraNegra: black;
  --letraBlanca: white;
  --letraGris: rgb(53, 52, 52);

  --letraGrande: 2em;
  --letraMediana: 1.5em;
  --letraPequeña: 1.1em;
  --letraMuyPequeña: 0.8em;

  --iconoGrande: 5em;
  --iconoMediano: 3.5em;
  --iconoPequeño: 2em;
}