<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
     <div class="row" th:insert="~{menu :: menuSuperior}"></div>
    
    <div class="container text-center">
	  <div class="row align-items-center">
	    <div class="col col-md-1">
	    </div>
		
	    <div class="col col-md-4">
		<h1>Proveedor</h1>
			<div class="card bg-light mb-3" style="max-width: 18rem;">
			  <div class="card-header">
				  	<span th:text="${proveedor.dni}" ></span>
			  </div>
			  <div class="card-body">
				<h5 class="card-title"><span th:text="${proveedor.nombre}" ></span></h5>
				<p class="card-text">
					<ul class="list-group">
					  <li class="list-group-item list-group-item-action list-group-item-warning list-group-item d-flex justify-content-between align-items-center">
						Direccion: <span th:text="${proveedor.direccion}" ></span>
					  </li>
					</ul>
				</p>
			  </div>
			</div>		
		
	    </div> 
	    <div class="col col-md-7 d-flex justify-content-between align-items-left">
			<p><a th:href="@{~/proveedores}" class="btn btn-primary btn-sm">volver</a></p>
			<p><a th:href="@{~/proveedor/edit/{dni}(dni=${proveedor.dni})}" class="btn btn-outline-primary btn-sm">editar</a></p>
	    </div>
		
	  </div>
	  
	  
	  
	</div>
    </body>
</html>