<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>

  <body>
	  <div class="row" th:insert="~{menu :: menuSuperior}"></div>
    <div class="container">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-9">
          <table class="table table-sm table-hover">
			 
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Repuesto</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>	
				<th:block th:if="${#lists.isEmpty(listaSuministra)}">
                  <tr>
                      <td colspan="7">No hay suministros disponibles.</td>
                  </tr>
            </th:block>
              <tr th:each="suministra: ${listaSuministra}">
                <th scope="row">
                  <span th:text="${suministra.id}"> </span>
                </th>
                <td>
                <span th:text="${suministra.repuesto.nombre}"></span>
                </td>
                <td>
                  <span th:text="${suministra.proveedor.nombre}"></span>
                </td>
                <td>
                  <a
                  class="btn btn-danger"
                  th:href="@{/suministra/del/{id}(id = ${suministra.id})}"
                  >Eliminar</a
                >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-2 align-items-center">
          <a
          class="btn btn-warning"
          th:href="@{/suministra/add}"
          >Relacionar repuesto y proveedor</a>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>